In [29]:
y = 5
x = 4
name = "samira"
n1 = 'S' # will also be string there's no char
age = 18
isStudent=True
score = 95.566666667
print("Name is:",name,age,isStudent,score) #Concatenate
print(f"Name is : {name} \nage is {age} \nisStudent : {isStudent} \nScore : {score:.3f}")

Name is: samira 18 True 95.566666667
Name is : samira
age is 18
isStudent : True
Score : 95.567

List Container

In [30]:
my_list = ["Apple",2,4,10.3,True,[1,2,3]] # list can take homogenous items and even another ist
print(my_list[5])
print(my_list[1])
my_list.append("AI")
print(my_list)
my_list.insert(2,False)
print(my_list)

[1, 2, 3]
2
['Apple', 2, 4, 10.3, True, [1, 2, 3], 'AI']
['Apple', 2, False, 4, 10.3, True, [1, 2, 3], 'AI']

In [31]:
my_list_2 =[1,2,3,4]
my_list.append(my_list_2)
my_list

['Apple', 2, False, 4, 10.3, True, [1, 2, 3], 'AI', [1, 2, 3, 4]]

In [32]:
my_dict = {
    "name":"Samira",
    "job":"Engineer",
    "courses":["AI","CV","GenAI"]
}
print(my_dict["courses"])
print(my_dict["job"])

['AI', 'CV', 'GenAI']
Engineer

In [33]:
my_dict["age"]=26
my_dict

{'name': 'Samira',
 'job': 'Engineer',
 'courses': ['AI', 'CV', 'GenAI'],
 'age': 26}

In [34]:
my_dict["age"]=18
my_dict

{'name': 'Samira',
 'job': 'Engineer',
 'courses': ['AI', 'CV', 'GenAI'],
 'age': 18}

In [35]:
my_dict["age"]="hamada" #accepted
my_dict.pop('job') # remove a key-value pair
my_dict

{'name': 'Samira', 'courses': ['AI', 'CV', 'GenAI'], 'age': 'hamada'}

In [36]:
my_dict['courses'].append(10)
my_dict

{'name': 'Samira', 'courses': ['AI', 'CV', 'GenAI', 10], 'age': 'hamada'}

Iterators and for loop

In [3]:
fruits=["apple","orange","bananna"]
for fruit in fruits:
    if fruit == "apple":
        print("i have apple")
    else:
        print("i love ",fruit)

i have apple
i love  orange
i love  bananna