In [1]:
print(3)

3

In [ ]:
my_list =[1,2,3,'AI',3]
for x in my_list:
    print(x)

1
2
3
AI
3

In [5]:
my_list =[1,2,3,'AI',3]
for x in my_list:
    if x==3:
        print("exiting loop")
        break
    
    print(x)
else:
    print("loop finished without interrupt")

1
2
exiting loop

In [7]:
my_list =[1,2,3,'AI',3]
for x in my_list:
    if x==3:
        print("skip iteration")
        continue
    
    print(x)
else:
    print("loop finished without interrupt")

1
2
skip iteration
AI
skip iteration
loop finished without interrupt

In [9]:
my_tuple =("ahmed",'mohamed',12.2,3,4)
for x in my_tuple:
    print(x)

ahmed
mohamed
12.2
3
4

In [ ]:
my_set = {1,2,3,4,5,6,6} #Unique & Unorderd
for x in my_set:
    print(x)

1
2
3
4
5
6

TypeError: 'set' object is not subscriptable

In [13]:
for x in range(5,20,2): # start from 5 till 20-1 with step 2
    print(x)

5
7
9
11
13
15
17
19

### Get Prime Numbers

In [39]:
for x in range(1,30):
    if x>1:
        for i in range(2,int(x**0.5)+1):
            if x%i == 0:
                break
        
        else:
            print(f"{x} is prime")

2 is prime
3 is prime
5 is prime
7 is prime
11 is prime
13 is prime
17 is prime
19 is prime
23 is prime
29 is prime

### Count Vowels in string

In [48]:
String = "hellO"
vowelsCounter = 0
for c in String:
    if c.lower() in "aeoui":
        vowelsCounter += 1
    
vowelsCounter

2

### Simulate your ATM

In [54]:
balance = 1000
withdrawAmmount = 0
while balance:
    print(f'your current balance is {balance}')
    withdrawAmmount = int(input("Enter Withdraw Ammount"))
    if(withdrawAmmount <= balance):
        balance-=withdrawAmmount
    else:
        print("insufficent balance \n",f"your current balance is{balance}")
else:
    print(f'your balance has been consumed')

your current balance is 1000
your current balance is 500
your balance has been consumed

### Factorial

In [ ]:
number = int(input("Enter the Number: "))
factorial = 1
if number > 0:
    for i in range(number,0,-1): # 0 is excluded don't worry
        factorial *= i
    else:
        print(f"Factorial of {number} is {factorial}")

Factorial of 3 is 6

### Fibbonaci Series

In [83]:
Fn0 =0
Fn1 =1
number = int(input("Enter the number : "))
if number > 2:
    for i in range(1,number):
        Fn = Fn1 + Fn0
        Fn0 = Fn1
        Fn1 = Fn
elif number == 1:
    Fn = Fn1
elif number == 0:
    Fn = Fn0
print(f"Fibbonaci of {number} is: {Fn}")

Fibbonaci of 20 is: 6765

### Sum Digits in Number

In [ ]:
number = int(input("Enter The Number : "))
sum = 0
while number:
    sum += number % 10
    number //=10 # use // other wise it will return float and number will be cased to float

sum

6

##### Sum Digits in Number (Python Style)

In [89]:
number = input("Enter The Number : ")
sum = 0
for x in number: #loop on the string
    sum += int(x) #for each char replace it to number and sum them
sum

6

### Check Palindrome Strings

In [ ]:
string = input("Enter a string:")
for i in range(0,len(String)//2):
    if string[i].lower()== string[-i-1].lower(): # in python string[0] = string[-1] -> string[1] = string[-2]
        continue
    else:
        break
else:
    print(f'{string} is palindrome')

oko is palindrome

#### Checking Palindrome (Python Style)

In [ ]:
string = input("Enter a String:")
isPalindrome = False
if string.lower() == string[::-1].lower(): # string[::-1] returns the string Reversed
    isPalindrome =True
isPalindrome

'rrrle'

### Merge two lists(key and value) into Dictionary

In [129]:
names = ['ahmed','fawzy','mohamed']
ages = [28,24,22]
my_dict = {}
for name in range(0,len(ages)):
    actualname = names[name]
    my_dict[actualname] = ages[name]
my_dict

{'ahmed': 28, 'fawzy': 24, 'mohamed': 22}

### do it again

In [130]:
keys =["name","age",'grade','courses']
values =['fawzy','24','A-',['c','c++','linux admin']]
my_dict = {}
for i in range(0,len(keys)):
    my_dict[keys[i]]=values[i]
my_dict

{'name': 'fawzy',
 'age': '24',
 'grade': 'A-',
 'courses': ['c', 'c++', 'linux admin']}

In [131]:
for i in my_dict:
    print(i)

name
age
grade
courses

In [132]:
for i in my_dict.values():
    print(i)

fawzy
24
A-
['c', 'c++', 'linux admin']

In [135]:
for i,j in my_dict.items(): ## i-> iterator on keys and j-> on values
    print(i,":",j)

name : fawzy
age : 24
grade : A-
courses : ['c', 'c++', 'linux admin']